# OS-specific files
.DS_Store

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log
crash.log

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.plan

# Sensitive directories and config
.ssh/
.azure/
.ansible/
.boto
.config/
.local/
.netrc

# VSCode & JetBrains IDEs
.vscode/
.idea/
*.code-workspace

# Other tooling
.terrascan/
.sentinel
